* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h3 {
  font-weight: 300;
}
h3 > span {
  font-weight: bold;
}

.id-card {
  display: flex;
}
.id-info {
  padding-left: 10px;
  font-weight: 100;
}
.card {
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
}
